.board {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    width: 345px;
}

.cell {
    border: none;
    border-radius: 20px;
    height: 100px;
    width: 100px;
    font-size: 40px;
}