body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Verdana;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 600px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    width: 345px;
}

.cell {
    border: none;
    border-radius: 20px;
    height: 100px;
    width: 100px;
    font-size: 40px;
}

.cell:hover {
    animation-name: change;
    animation-duration: .1s;
    transform: scale(1.1);
}

@keyframes change {
    from {transform: scale(1.00);}
    to {transform: scale(1.1);}
  }

.turn {
    text-align: center;
    font-family: Verdana;
}

.again {
    margin: 0 80px 0;
    border: none;
    height: 40px;
    border-radius: 10px;
    font-size: 17px;
    font-family: Verdana;
    color: white;
    background-color: red;
}

h1 {
    margin: 10px 0 50px;
    font-size: 40px;
}

h2 {
    margin: 30px 0 30px;
}